h1 {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;

  &.page-title-heading {
    &:before {
      content: unset;
    }
  }
}

p, li {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: $pure-black;

  &:link,
  &:visited {
    color: $pure-black;
  }

  &:hover,
  &:active {
    color: lighten($pure-black, .2);
  }
}
